/* font-family: 'Montserrat',
sans-serif;
font-family: 'Roboto Slab',
serif;
font-family: Wisdom Script Regular;
font-family: DroidSerif; */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: 'Wisdom Script Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Wisdom Script AJ.woff') format("woff");
}

@font-face {
    font-family: 'DroidSerif';
    src: url('/fonts/DroidSerif-Regular.ttf') format('truetype');
}

/* GLOBAL */

body {
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Montserrat';
    color: #777777;
}

.main-button {
    display: inline-block;
    min-width: 240px;
    min-height: 65px;
    background-color: #fed136;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #fed136;
    border-radius: 5px;
    margin-top: 30px;
    padding: 16px;
}

.main-title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-top: 120px;
    margin-bottom: 10px;
    color: #222222;
}

.title-text {
    font-family: "DroidSerif";
    font-size: 16px;
    font-style: italic;
}

.semi-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.45px;
}

/* Navigation */

.splash {
    line-height: 41px;
    padding: 26px 0;
}

.logo p {
    font-family: 'Wisdom Script Regular';
    font-size: 26px;
    color: #fed136;
    letter-spacing: 1.3px;
    padding-left: 60px;
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
}

.menu li {
    display: inline-block;
    margin: 0 35px 0 0;
}

.menu a {
    font-family: 'Montserrat';
    text-decoration: none;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    width: 45px;
    height: 10px;
}

/* SPLASH */

.splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/htP5FxRD/Background-Image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 729px;
    position: relative;
}

.main-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 50px;
}

.main-text h2 {
    font-size: 40px;
    font-family: "DroidSerif";
    font-style: italic;
    color: white;
    letter-spacing: -1px;
    font-weight: normal;
    padding: 35px 0;
}

.main-text h1 {
    font-size: 75px;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: -1.88px;
    color: white;
    padding: 20px 0;
    margin-bottom: 30px;
}

/* SECTION SERVICES */

.title,
.icon {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.icon i {
    font-size: 30px;
    background: white;
    height: 67px;
    width: 67px;
    line-height: 67px;
    text-align: center;
    color: #fed136;
    border: 3px solid #fed136;
    border-radius: 50%;
    margin-bottom: 27px;
}

.services .col {
    margin-top: 30px;
    text-align: center;
}

.col .semi-title {
    margin-bottom: 15px;
    color: #222222;
}

.col p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.35px;
    margin: 0 30px 10px 30px;
}

/* SECTION PORTFOLIO */

.portfolio {
    background-color: #f7f7f7;
    padding-bottom: 50px;
}

.portfolio .main-title {
    padding-top: 90px;
}

.title p {
    padding-bottom: 60px;
}

.card {
    padding-bottom: 50px;
    width: 100%;
    margin: 0 auto;
}

.card img {
    width: 100%;
}

.card-body {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.card .semi-title {
    color: #333333;
}

.card p {
    font-family: "DroidSerif";
    font-size: 14px;
    font-style: italic;
}

/* FOOTER */

.footer {
    margin: 40px 40px;
}

.footer p {
    line-height: 22px;
    font-size: 14px;
    letter-spacing: -0.35px;
    color: #555555;
    font-weight: bold;
    padding: 10px 0;
}

.social-media a {
    font-size: 0;
}

.social-media i {
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 0 3px;
    border: 1px solid #222222;
    background-color: #222222;
    border-radius: 50%;
    color: white;
    text-align: center;
}

/* MEDIA */

@media (min-width: 320px) and (max-width: 991px) {
    .menu li {
        margin: 0 20px 0 0;
    }

    .main-text h2 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .main-text h1 {
        font-size: 50px;
        padding-top: 5px;
        margin-bottom: 15px;
    }

    .portfolio .main-title {
        padding-top: 50px;
        margin-top: 60px;
        font-size: 35px;
    }

    .main-title {
        font-size: 35px;
        margin-top: 70px;
    }

    .title-text {
        font-size: 14px;
    }

    .card {
        width: 291px;
    }

    .footer {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer p {
        padding-bottom: 15px;
    }
}